header {
  position: fixed;
  height: 13em;
  display: flex;
  width: 100%;
  background-color: white;
  padding-top: 5em;
  }


body {
  background: transparent;
}

main {
  width: 80%;
  margin: 0 auto;
  padding-top: 215px;
}

h1 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 4em;
  margin: 0 auto;
  margin-bottom: -20px;

}

h2 {
  font-family: helvetica;
  color: black;
  font-size: 2em;
  padding: 0 auto;
}

h3 {
  font-family: helvetica;
  font-size: 1em;
}

footer {
  background-color: #FFB129;
  width:100%;
  padding: 2em;
  /*-webkit-box-shadow: inset 10px 10px 16px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 10px 16px -9px rgba(0,0,0,0.75);
  box-shadow: inset 10px 10px 16px -9px rgba(0,0,0,0.75);*/

}
