header {
  background: url(../img/kzc.png) no-repeat top center;
}

body {
  display:block;
  background: transparent;
}

}

ul {
  float: right;
  width: 48%;
}
ul li {

  justify-content: flex-end;
  flex-direction: column;
  max-width: 20%;
}



ul {
  text-decoration: none;
  list-style: none;
  color: black;
}
