* {
  box-sizing: border-box;
}

#headerContainer {
  margin: 0 auto;
  width: 100%;
}


#katePic {
  border-radius: 50%;
  border: 2px solid black;
  float: left;
  margin-right: 35px;
}



#headerName {
  display: none;
}

#blurb {
  display: none;
}

.slogan {
  background-color: #B1AEB2;
}


#authors {
  text-align: center;
  align-items: center;
  margin-left: 2%;
}

div#home a {
  text-decoration: none;
  font-size: 1em;
  text-decoration: none;
  color: black;
  padding: .5em;
  background-color: #B1AEB2;
  text-align: right;
  display: inline-block;
  margin-top: -2px;

}

div#home a:hover {
  color: white;
}

div#about a {
  text-decoration: none;
  font-size: 1em;
  text-decoration: none;
  color: black;
  padding: .5em;
  background-color: #B1AEB2;
  text-align: right;
  display: inline-block;
  margin-top: -2px;
}

div#about a:hover {
  color: white;
}

#quote {
  display: none;
  width: 25%;
  text-align: center;
}

#abilities {
  display: inline-block;;
  width: 28%;
  text-decoration: none;
  padding: 0;
  margin-right: 4%;
  margin-bottom: 4%;
  padding-bottom: 4%;
  margin-top: 4%;
}

#learning {
  display: inline-block;
  width: 28%;
  text-decoration: none;
  padding: 0;
  margin-right: 4%;
  padding-bottom: 4%;
  margin-bottom: 4%;
  margin-top: 4%;

}
