* {
  box-sizing: border-box;
}

#katePic {
  border-radius: 50%;
  border-color: 3px black;
}



h1 #headerName {
  width: 100%;
  margin: 0 auto;
  padding-left: 15em;

}

#blurb {
  font-size: 1.2em;
  width: 100%;
  color: #FFB129;
  margin-top: 0 auto;
  padding-left: 3em;
}

.slogan {
  background-color: #B1AEB2;
}


#authors {
  text-align: center;
  align-items: center;
  margin-left: 2%;
}
