@media only screen and (min-width: 640px) {
  .header {
    padding: .1em .1em .1em 2em;
    /*display: flex;*/
}
.wrap {
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 90px);
}

.navs {
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
}
.navs ul li {
  text-decoration: none;
  color: white;
  padding: 1em;
  background-color: #B1AEB2;
  text-align: right;

}




article {
  /*background-color: #CCC0AB;*/
  background-color: transparent;
  height: 30%;
  /*display: inline-flex;*/
  margin: 2% auto;
  /*border-style: dashed;*/
}


#footerContent {
  padding-top: 2em auto;
  text-align: left;
  align-items: center;
  margin: 0 auto;
}

section ul li {
  margin: 0 auto;
  padding: .2em;
}


#slogan col {
  display: inline-block;
  width: 50%;
  margin-right: -4px;

}

.tab {
  margin: 0 auto;
  display: inline;
  width: 0 auto

}

#bioBlock {
  background-color: #B1AEB2;
  padding: 2em;
}


}
