@media only screen and (min-width: 640px) {
  .header {
    padding: .1em .1em .1em 2em;
    display: flex;

 }

 ul li {
  display: inline-block;
}

article {
  /*background-color: #CCC0AB;*/
  background-color: transparent;
  width: 30%;
  height: 30%;
  display: inline-flex;
  margin: 2% auto;
  /*border-style: dashed;*/
}

}
